@use "src/styles/vars" as v;

.planning__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2em;
}

.planning__description {
  display: flex;
  align-items: center;
  margin-left: 30%;
  font-weight: bold;
}

.description__component {
  width: 30%;
  margin: 3px;
}
