.login__modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: RGBA(20,20,20,0.8);
}

.login__form form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-top: 200px;
}

#close__modal__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logIn__error {
  padding: 1em;
  font-size: 1em;
  background-color: white;
  color: red;
  text-align: center;
  width: 80%;
  margin: 5px auto 10px auto ;
  border-radius: 5px;
}

#login__form__1 {
  height: 150px;
}

#login__form__1 .ui.input { 
  width: 90%;
  margin: 0.2em auto;
}

#login__form__2 {
  height: 300px;
}

#login__form__2 .ui.input { 
  width: 90%;
  margin: 0.2em auto;
}

#login__form__1 input::placeholder{
  color: black;
}

#login__form__2 input::placeholder{
  color: black;
}

.signIn__validation {
  margin-top: 5px;
  padding: 1em;
  font-size: 1em;
  background-color: white;
  color: green;
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.login__form__button__container {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.login__form__button__container .ui.button {
  margin: 0;
}

.login-form-button a {
  color: white;
}

.login-form-button a:hover {
  color: white;
}

.login__failed {
  width: 90%;
  margin: 0px auto;
}

.signin__failed {
  width: 90%;
  margin: 0px auto;
}

.signin__successful {
  width: 90%;
  margin: 0px auto;
}

