@use "src/styles/vars" as v;

.presentation__detailed {
  background-color: v.$primary-green;
  color: white;
  text-align: center;
}

.presentation__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
