@use "src/styles/vars" as v;

.target {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$light-grey;
}

.target__card__tilte {
  text-align: center;
  font-size: 1em;
}

#card1 {
  height: 370px;
}

#card1 img{
  height: 230px;
  object-fit: cover;
}

#card2 {
  height: 370px;
}

#card2 img{
  height: 230px;
  object-fit: cover;
}

#card3 {
  height: 370px;
}

#card3 img{
  height: 230px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .target {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
