@use "src/styles/vars" as v;

.scheduled__meals__container{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}

.scheduled__meal {
  margin: 1em 0;
  font-weight: bold;
}

.scheduled__recipe {
  margin: 0.5em 0 0.5em 2em;
  font-weight: normal;
}

#add__meal__icon {
  color: v.$primary-green;
}

#remove__meal__icon {
  color: red;
}

.advanced__search__access h2 {
  font-size: 1.1em;
}

.advanced__search__access {
  margin-bottom: 2em;
}

.add__meal__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe__small__separator {
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: grey;
}

em {
  font-weight: bold;
}

i {
  font-style: italic;
}

@media (min-width: 768px) {
  .addmeal__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
