@use "src/styles/vars" as v;

.step2__container h1,p{
  font-size: 1.2em;
}

.step2__container{
  background-color: v.$light-grey;
  padding: 2em;
  color: black;
  width: 100%;
}

.planning__illustration {
  width: 100%;
  max-width: 600px;
}
