.user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.add_member {
  font-weight: bold;
}

.full_name {
  display: flex;
}

.group_members_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
