@use "src/styles/vars" as v;

.footer {
  width: 100%;
  color : v.$link-blue;
  padding: v.$gutter;

}

#footer__list {
  display:flex;
  justify-content: space-around;
}
.top__part {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 2em 0 0 0;
  justify-content: space-between;
}

.top__part.a {
  text-decoration: none;
  color : v.$link-blue 
}

.top__part p {
  text-decoration: none;
  color : v.$link-blue 
}

.bottom__part {
  text-align: center;
}

.bottom__part p {
  text-decoration: none;
  color : v.$link-blue 
}
