
.recipe__description__container{
   position: relative;
   width: 100%;
   padding: 50px;
 }
 .circle {
   position: relative;
   overflow: hidden;
 }
 .circle.recipe__picture {
   width: 50%;
   height: 50%;
   float: left;
   border-radius: 50%;
   margin : 10%;
   shape-outside: circle();
 }
 
