@use "src/styles/vars" as v;

.landing__search {
  background-color:v.$primary-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.landing__search h1{
  color: white;
  text-align: center;
}

#trendy__recipe__img img {
  height: 220px;
  object-fit: cover;
}

#see__all__button {
  margin-top: 2em;
  background-color: white;
  font-size: 1.2em;
}

.quicksearch__results__container a {
  margin-bottom: 1em;
}

.quicksearch__results__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#card__from__landing__difficulty{
  font-size: 1em;
}
#card__ratings {
  color : black;
}
@media (min-width: 830px) {
  .quicksearch__results__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em 0;
  }
  .quicksearch__results__container a{
    width: 40%;
    height: 400px;
    margin: 0;
    margin-bottom: 2em;
  }

  #card__from__landing__page {
    width: 100%;
    height: 420px;
  }
 }

 @media (min-width: 1200px) {
  .quicksearch__results__container {
    align-items: center;
    margin: 1em 0;

  }

  .quicksearch__results__container a {
    width: 30%;
    margin-bottom: 2em;
  }
 }



