@use "src/styles/vars" as v;

.found__recipes li {
  margin: 5px 2px;
  padding: 0.2em;
  font-size: 0.8em;
  background-color: lightgray;
  position: relative;
}

.planning__day__box:after{
  content: '.';
  visibility: hidden;
}

.notification__number__people {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: v.$primary-green;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: -5px;
}
