.header {
  
  width : 100vw;
  display: flex;
  border : 1px solid white;
  border-radius: 10px;
  
}
.header__logo {
  width : 100px;
  display: block;
  text-align: left;

}
.header__menu {
  text-align: right;
}
